In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# drop the useless features
train.drop(columns = ["Name", "Ticket", "Cabin"], inplace = True)

In [4]:
# modify some features of train data for better using
train['Age'].fillna(train['Age'].mean(), inplace=True)
train['Fare'].fillna(train['Fare'].mean(), inplace=True)

train.loc[train["Sex"] == "male", "Sex"] = 0
train.loc[train["Sex"] == "female", "Sex"] = 1

train.loc[train["Embarked"] == "S", "Embarked"] = 0
train.loc[train["Embarked"] == "C", "Embarked"] = 1
train.loc[(train["Embarked"] != "S") & (train["Embarked"] != "C"), "Embarked"] = 2

train.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [5]:
train.head()

   PassengerId  Survived  Pclass Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3   0  22.0      1      0   7.2500        2
1            2         1       1   1  38.0      1      0  71.2833        2
2            3         1       3   1  26.0      0      0   7.9250        2
3            4         1       1   1  35.0      1      0  53.1000        2
4            5         0       3   0  35.0      0      0   8.0500        2

In [9]:
test.drop(columns = ["Name", "Ticket", "Cabin"], inplace = True)

In [10]:
#  fill in missing NaN  for features
test['Age'].fillna(test['Age'].mean(), inplace=True)
test['Fare'].fillna(test['Fare'].mean(), inplace=True)

test.loc[test["Sex"] == "male", "Sex"] = 0
test.loc[test["Sex"] == "female", "Sex"] = 1

test.loc[test["Embarked"] == "S", "Embarked"] = 0
test.loc[test["Embarked"] == "C", "Embarked"] = 1
test.loc[(test["Embarked"] != "S") & (test["Embarked"] != "C"), "Embarked"] = 2

test.isna().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [6]:
# Logistic Regression method
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [7]:
x, y = train.loc[:, train.columns != 'Survived'].values, train['Survived'].values

In [8]:
lr_model = LogisticRegression(max_iter = 10000)
lr_model.fit(x, y)

LogisticRegression(max_iter=10000)

In [11]:
y_pred = lr_model.predict(test.values)

In [12]:
test['Survived'] = lr_model.predict(test.values)
submission = test[['PassengerId','Survived']]
submission.to_csv("submission.csv", index=False)
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [13]:
# KNN method
# SK-learn libraries for learning.
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV